@import "~@fontsource/roboto/index.css";

html {
	margin: 1rem auto;
	max-width: 90%;
	width: 700px;
}

html,
body {
	background-color: #fffdfc;
	color: #3d4b6d;
	font-size: 18px;

	@media (min-width: 400px) {
		font-size: 22px;
	}
}
